<a href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/beta/vnstock_demo_index_all_functions_testing_2023_06_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Introduction

Ngu·ªìn c·∫•p d·ªØ li·ªáu:
1. TCBS: https://tcinvest.tcbs.com.vn/tc-price
2. SSI iBoard (FinnTrade cung c·∫•p): https://iboard.ssi.com.vn/

In [1]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock b·∫£n m·ªõi nh·∫•t t·ª´ source code Github | Install vnstock from Github source
!pip install git+https://github.com/thinh-vu/vnstock.git@beta

Collecting git+https://github.com/thinh-vu/vnstock.git@beta
  Cloning https://github.com/thinh-vu/vnstock.git (to revision beta) to c:\users\mrthi\appdata\local\temp\pip-req-build-pmkh7g85
  Resolved https://github.com/thinh-vu/vnstock.git to commit d4eb8539adfc10b80ff31381260758bd8a8d9ec9
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: vnstock
  Building wheel for vnstock (pyproject.toml): started
  Building wheel for vnstock (pyproject.toml): finished with status 'done'
  Created wheel for vnstock: filename=vnstock-0.1.6-py3-none-any.whl size=24293 sha256=721473ec3265b3403a9cf9ba9d607ad4aa09f75666231a3cba8e8b34680fbb81
  Stored in directory: C:\Users\mrthi\AppData\Local\Temp\pip-ephem-wheel-cache-rtych6gu\wheels\10\81\8a\5d2edbad635097630a48f481cf7ecc8848bca4513ba7a185b8
Successfully built vnstock
Installing collected packages: vnstock
Successfully installed vnstock-0.1.6

  Running command git clone --filter=blob:none --quiet https://github.com/thinh-vu/vnstock.git 'C:\Users\mrthi\AppData\Local\Temp\pip-req-build-pmkh7g85'
  Running command git checkout -b beta --track origin/beta
  branch 'beta' set up to track 'origin/beta'.
  Switched to a new branch 'beta'

In [ ]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock t·ª´ Pypi - b·∫£n ·ªïn ƒë·ªãnh (d·ªØ li·ªáu b·ªã xo√° khi k·∫øt th√∫c session) | Install vnstock from Pypi - stable version
# !pip install vnstock # Remove the hashtag sign to uncomment and run this code, disabled by default

In [2]:
from vnstock import * #import all functions

# II. Functions testing

Vi: Thu g·ªçn to√†n b·ªô code ·ªü m·ª•c n√†y, ch·∫°y code m·ªôt l·∫ßn duy nh·∫•t, n·∫øu code ch·∫°y ƒë·∫øn cu·ªëi file th√†nh c√¥ng th√¨ th∆∞ vi·ªán vnstock ho·∫°t ƒë·ªông b√¨nh th∆∞·ªùng trong ƒëa s·ªë tr∆∞·ªùng h·ª£p.

En: `Collapse all the code in this section, run the code only once, if the code runs to the end of the file successfully, then the vnstock library will work normally in most cases`

## 2.1 üì∞ All listing companies

In [ ]:
listing_companies()

,ticker,comGroupCode,organName,organShortName,organTypeCode,comTypeCode,icbName,icbNamePath,sector,industry,...,VNCOND,VNCONS,VNENE,VNFIN,VNHEAL,VNIND,VNIT,VNMAT,VNREAL,VNUTI
0,VVS,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,DN,CT,S·∫£n xu·∫•t √¥ t√¥,H√†ng Ti√™u d√πng/√î t√¥ v√† ph·ª• t√πng/√î t√¥ v√† ph·ª• t√π...,H√†ng Ti√™u d√πng,√î t√¥ v√† ph·ª• t√πng,...,False,False,False,False,False,False,False,False,False,False
1,XDC,UpcomIndex,C√¥ng ty TNHH MTV X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,DN,CT,X√¢y d·ª±ng,C√¥ng nghi·ªáp/X√¢y d·ª±ng v√† V·∫≠t li·ªáu/X√¢y d·ª±ng v√† V...,C√¥ng nghi·ªáp,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,...,False,False,False,False,False,False,False,False,False,False
2,HSV,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n HSV Vi·ªát Nam,Gang Th√©p H√† N·ªôi,DN,CT,Th√©p v√† s·∫£n ph·∫©m th√©p,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Kim lo·∫°i/Th√©...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
3,CST,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Than Cao S∆°n - TKV,Than Cao S∆°n - TKV,DN,CT,Khai th√°c Than,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Khai kho√°ng/...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
4,BVL,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn BV Land,BV Land,DN,CT,"T∆∞ V·∫•n, ƒê·ªãnh gi√°, M√¥i gi·ªõi B·∫•t ƒë·ªông s·∫£n","T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/T∆∞ V·∫•n, ƒê·ªã...",T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,XMP,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,Th·ªßy ƒëi·ªán Xu√¢n Minh,DN,CT,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,"Ti·ªán √≠ch C·ªông ƒë·ªìng/ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë...",Ti·ªán √≠ch C·ªông ƒë·ªìng,"ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë·ªët",...,False,False,False,False,False,False,False,False,False,False
1612,YBC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,DN,CT,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,C√¥ng nghi·ªáp/X√¢y d·ª±ng v√† V·∫≠t li·ªáu/X√¢y d·ª±ng v√† V...,C√¥ng nghi·ªáp,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,...,False,False,False,False,False,False,False,False,False,False
1613,YBM,VNINDEX,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,Kho√°ng s·∫£n CN Y√™n B√°i,DN,CT,Khai kho√°ng,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Khai kho√°ng/...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
1614,YEG,VNINDEX,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,T·∫≠p ƒëo√†n Yeah1,DN,CT,Gi·∫£i tr√≠ & Truy·ªÅn th√¥ng,D·ªãch v·ª• Ti√™u d√πng/Truy·ªÅn th√¥ng/Truy·ªÅn th√¥ng/Gi...,D·ªãch v·ª• Ti√™u d√πng,Truy·ªÅn th√¥ng,...,False,False,False,False,False,False,False,False,False,False
1615,YTC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...,XNK Y t·∫ø TP.HCM,DN,CT,D·ª•ng c·ª• y t·∫ø,D∆∞·ª£c ph·∫©m v√† Y t·∫ø/Y t·∫ø/Thi·∫øt b·ªã v√† D·ªãch v·ª• Y t...,D∆∞·ª£c ph·∫©m v√† Y t·∫ø,Y t·∫ø,...,False,False,False,False,False,False,False,False,False,False

## 2.2. Ticker overview

In [ ]:
company_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ng√¢n h√†ng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,-0.009,0.045,0.028,3517.2,3517.2,NH,TCB

## 2.3. üìà Historical Data Retrieval

In [3]:
stock_historical_data("GMD", "2021-01-01", "2022-02-25", "1D")

                         time   open   high    low  close   volume
0   2021-01-04 07:00:00+07:00  31.39  32.34  31.20  31.49  4226500
1   2021-01-05 07:00:00+07:00  31.49  32.77  31.15  32.15  4851900
2   2021-01-06 07:00:00+07:00  32.53  32.53  31.49  31.77  3641300
3   2021-01-07 07:00:00+07:00  32.06  32.82  30.92  32.34  5753700
4   2021-01-08 07:00:00+07:00  32.72  33.10  31.87  32.25  4587500
..                        ...    ...    ...    ...    ...      ...
278 2022-02-18 09:00:00+07:00  49.75  50.82  49.26  50.63  3444800
279 2022-02-21 09:00:00+07:00  50.53  51.21  49.95  49.95  1489200
280 2022-02-22 09:00:00+07:00  49.26  51.12  48.29  50.92  3583400
281 2022-02-23 09:00:00+07:00  50.92  51.99  50.63  50.82  2823400
282 2022-02-24 09:00:00+07:00  50.24  51.51  48.97  50.14  2961300

[283 rows x 6 columns]

In [5]:
stock_historical_data("VNINDEX", "2023-06-01", "2023-06-29", "1D", "index")

                        time     open     high      low    close      volume
0  2023-06-01 09:15:00+07:00  1076.50  1078.39  1071.61  1078.39   852591680
1  2023-06-02 09:15:00+07:00  1084.19  1092.24  1083.36  1090.84  1025982016
2  2023-06-05 09:15:00+07:00  1099.66  1103.81  1096.76  1097.82   942253440
3  2023-06-06 09:15:00+07:00  1098.80  1108.31  1098.28  1108.31   837786240
4  2023-06-07 09:15:00+07:00  1110.79  1112.28  1104.26  1109.54   995078784
5  2023-06-08 09:15:00+07:00  1111.73  1115.14  1101.32  1101.32  1321305344
6  2023-06-09 09:15:00+07:00  1103.01  1107.53  1097.23  1107.53   897118528
7  2023-06-12 09:15:00+07:00  1110.26  1116.02  1100.08  1116.02   783528704
8  2023-06-13 09:15:00+07:00  1117.33  1122.46  1116.10  1122.46   940781824
9  2023-06-14 09:15:00+07:00  1124.56  1129.49  1117.42  1117.42   915957312
10 2023-06-15 09:15:00+07:00  1116.99  1120.13  1112.11  1116.97   703437888
11 2023-06-16 09:15:00+07:00  1117.08  1128.92  1112.51  1115.22  1157762560
12 2023-06-19 09:15:00+07:00  1115.59  1117.23  1104.73  1105.40   807629888
13 2023-06-20 09:15:00+07:00  1107.30  1111.72  1102.58  1111.72   689274560
14 2023-06-21 09:15:00+07:00  1112.73  1118.46  1110.65  1118.46   868996480
15 2023-06-22 09:15:00+07:00  1126.21  1127.54  1122.27  1125.30   905032832
16 2023-06-23 09:15:00+07:00  1126.40  1130.61  1122.62  1129.38   901592384
17 2023-06-26 09:15:00+07:00  1129.38  1134.00  1119.95  1132.03  1035697024
18 2023-06-27 09:15:00+07:00  1134.36  1136.49  1128.82  1134.33   711965952
19 2023-06-28 09:15:00+07:00  1135.78  1140.56  1131.86  1138.35   871618048

## 2.4. üìä Price Table

In [ ]:
price_board('TCB,SSI,VND')

,M√£ CP,Gi√° Kh·ªõp L·ªánh,KLBD/TB5D,T.ƒë·ªô GD,KLGD r√≤ng(CM),%KLGD r√≤ng (CM),RSI,MACD Volume,MACD Signal,T√≠n hi·ªáu KT,...,Kh·ªëi l∆∞·ª£ng D∆∞ mua,Kh·ªëi l∆∞·ª£ng D∆∞ b√°n,Kh·ªõp nhi·ªÅu nh·∫•t,seq,vnid3d,vnid1m,vnid3m,vnid1y,vnipe,vnipb
0,TCB,32600.0,1.15,1.40,0,0.0,62.633335,-0.05,Sell,Neutral,...,666100,32400,33000,1687420740,1.2,4.8,9.3,-5.2,13.4497,1.62392
1,SSI,26100.0,0.75,2.09,496200,16.1,79.745311,0.16,Neutral,Neutral,...,200100,328600,25900,1687420740,1.2,4.8,9.3,-5.2,13.4497,1.62392
2,VND,19650.0,0.72,1.59,848300,20.6,68.031467,0.02,Neutral,Neutral,...,1233100,191900,19650,1687420740,1.2,4.8,9.3,-5.2,13.4497,1.62392

## 2.5. üî• Intraday Trading Data

In [6]:
stock_intraday_data(symbol='GMD', page_size=1000)

    ticker      time  orderType investorType  volume  averagePrice  orderCount
0      GMD  14:29:58     Buy Up        SHEEP   500.0       51800.0         1.0
1      GMD  14:29:27     Buy Up         WOLF  6100.0       51800.0         7.0
2      GMD  14:29:27  Sell Down        SHEEP  1800.0       51800.0         7.0
3      GMD  14:29:17  Sell Down        SHEEP   100.0       51800.0         1.0
4      GMD  14:29:11  Sell Down        SHEEP  1900.0       51800.0         1.0
..     ...       ...        ...          ...     ...           ...         ...
578    GMD  09:28:40  Sell Down        SHEEP  1100.0       52500.0         5.0
579    GMD  09:25:28     Buy Up        SHEEP  2600.0       52600.0         3.0
580    GMD  09:24:53  Sell Down        SHEEP  1000.0       52600.0         3.0
581    GMD  09:22:09     Buy Up        SHEEP   200.0       52700.0         1.0
582    GMD  09:20:58  Sell Down        SHEEP   100.0       52600.0         1.0

[583 rows x 7 columns]

## 2.6. üí∞Financial Ratio

### 2.6.1. Report from SSI

Access denied by SSI

In [ ]:
# financial_ratio_compare (symbol_ls=['TCB', 'CTG', 'BID'], industry_comparison='true', frequency= 'Yearly', start_year=2021)

### 2.6.2. Report from TCBS

In [ ]:
financial_ratio("TCB", 'quarterly', True)

,ticker,quarter,year,priceToEarning,priceToBook,valueBeforeEbitda,dividend,roe,roa,daysReceivable,...,loanOnAsset,loanOnDeposit,depositOnEarnAsset,badDebtOnAsset,liquidityOnLiability,payableOnEquity,cancelDebt,ebitdaOnStockChange,bookValuePerShareChange,creditGrowth
0,TCB,1,2023,6.0,1.0,None,None,0.178,0.029,None,...,0.643,1.202,0.603,0.005,0.305,5.1,0.002,None,0.040,0.273
1,TCB,4,2022,4.5,0.8,None,None,0.197,0.032,None,...,0.602,1.173,0.583,0.005,0.347,5.2,0.002,None,0.032,0.211
2,TCB,3,2022,5.4,1.0,None,None,0.216,0.035,None,...,0.612,1.287,0.542,0.004,0.329,5.1,0.002,None,0.052,0.279
3,TCB,2,2022,6.2,1.2,None,None,0.217,0.036,None,...,0.628,1.218,0.571,0.004,0.343,5.0,0.002,None,0.060,0.250
4,TCB,1,2022,9.1,1.8,None,None,0.217,0.036,None,...,0.594,1.112,0.578,0.004,0.404,5.2,0.002,None,0.059,0.234
5,TCB,4,2021,9.7,1.9,None,None,0.217,0.036,None,...,0.611,1.104,0.602,0.004,0.382,5.1,0.004,None,0.053,0.252
6,TCB,3,2021,10.0,2.0,None,None,0.221,0.037,None,...,0.593,1.015,0.634,0.003,0.405,5.1,0.004,None,0.053,0.392
7,TCB,2,2021,11.5,2.2,None,None,0.215,0.036,None,...,0.622,1.084,0.625,0.002,0.370,5.0,0.008,None,0.061,0.353
8,TCB,1,2021,10.0,1.8,None,None,0.200,0.033,None,...,0.640,1.031,0.675,0.002,0.354,4.9,0.012,None,0.060,0.277
9,TCB,4,2020,9.0,1.5,None,None,0.181,0.030,None,...,0.631,1.000,0.680,0.003,0.372,4.9,0.013,None,0.057,0.202
10,TCB,3,2020,7.0,1.1,None,None,0.177,0.030,None,...,0.575,0.913,0.682,0.003,0.440,4.7,0.015,None,0.047,0.124
11,TCB,2,2020,6.3,1.0,None,None,0.176,0.029,None,...,0.585,0.927,0.689,0.005,0.418,4.9,0.010,None,0.044,0.249
12,TCB,1,2020,5.0,0.8,None,None,0.177,0.029,None,...,0.592,0.987,0.650,0.006,0.416,5.1,0.006,None,0.039,0.416
13,TCB,4,2019,8.2,1.3,None,None,0.178,0.029,None,...,0.602,0.998,0.651,0.008,0.411,5.2,0.002,None,0.053,0.443
14,TCB,3,2019,8.8,1.4,None,None,0.172,0.027,None,...,0.559,0.939,0.639,0.010,0.469,5.2,0.003,None,0.046,0.230
15,TCB,2,2019,8.1,1.3,None,None,0.170,0.027,None,...,0.514,0.842,0.650,0.009,0.528,5.4,0.006,None,0.046,0.112
16,TCB,1,2019,10.6,1.7,None,None,0.186,0.028,None,...,0.502,0.788,0.680,0.009,0.547,5.1,0.006,None,0.040,-0.001
17,TCB,4,2018,10.7,1.8,None,None,0.215,0.029,None,...,0.498,0.794,0.676,0.009,0.531,5.2,0.008,None,0.047,-0.006
18,TCB,3,2018,11.7,2.1,None,None,0.254,0.032,None,...,0.535,0.862,0.671,0.011,0.488,5.3,0.013,None,0.043,0.215
19,TCB,2,2018,12.8,2.3,None,None,0.243,0.032,None,...,0.555,0.895,0.663,0.011,0.475,5.3,0.010,None,0.261,0.264
20,TCB,1,2018,NaN,NaN,None,None,0.255,0.029,None,...,0.600,0.904,0.713,0.011,0.409,6.3,0.016,None,0.397,0.190
21,TCB,4,2017,NaN,NaN,None,None,0.277,0.026,None,...,0.597,0.941,0.679,0.010,0.392,9.0,0.021,None,0.386,0.128
22,TCB,3,2017,NaN,NaN,None,None,0.251,0.021,None,...,0.588,0.826,0.775,0.011,0.383,11.0,0.022,None,-0.107,0.013
23,TCB,2,2017,NaN,NaN,None,None,0.208,0.018,None,...,0.568,0.766,0.801,0.012,0.416,9.7,0.025,None,0.053,0.032
24,TCB,1,2017,NaN,NaN,None,None,0.201,0.018,None,...,0.592,0.771,0.818,0.011,0.395,10.3,0.024,None,0.052,0.208
25,TCB,4,2016,NaN,NaN,None,None,0.177,0.015,None,...,0.606,0.822,0.787,0.010,0.377,11.0,0.026,None,0.047,0.278
26,TCB,3,2016,NaN,NaN,None,None,0.153,0.013,None,...,0.609,0.829,0.791,0.011,0.366,10.9,0.029,None,0.057,0.444
27,TCB,2,2016,NaN,NaN,None,None,0.122,0.011,None,...,0.601,0.851,0.760,0.011,0.376,11.0,0.033,None,0.046,0.405
28,TCB,1,2016,NaN,NaN,None,None,0.108,0.009,None,...,0.573,0.766,0.809,0.012,0.403,10.7,0.036,None,0.026,0.285
29,TCB,4,2015,NaN,NaN,None,None,0.100,0.009,None,...,0.581,0.785,0.813,0.010,0.380,10.6,0.036,None,0.023,0.390
30,TCB,3,2015,NaN,NaN,None,None,0.090,0.008,None,...,0.536,0.687,0.864,0.012,0.426,9.8,0.039,None,0.026,0.314
31,TCB,2,2015,NaN,NaN,None,None,0.075,0.007,None,...,0.526,0.705,0.824,0.013,0.438,10.0,0.047,None,0.030,0.228
32,TCB,1,2015,NaN,NaN,None,None,0.059,0.005,None,...,0.495,0.699,0.786,0.013,0.463,10.7,0.047,None,0.020,0.235
33,TCB,4,2014,NaN,NaN,None,None,0.075,0.006,None,...,0.457,0.611,0.835,0.011,0.501,10.7,0.033,None,0.012,0.143
34,TCB,3,2014,NaN,NaN,None,None,0.070,0.006,None,...,0.419,0.587,0.803,0.012,0.531,10.5,0.038,None,0.011,0.022
35,TCB,2,2014,NaN,NaN,None,None,0.063,0.005,None,...,0.433,0.593,0.826,0.018,0.513,10.7,0.020,None,0.015,0.060
36,TCB,1,2014,NaN,NaN,None,None,0.055,0.005,None,...,0.438,0.579,0.867,0.020,0.499,10.4,0.019,None,0.038,0.050
37,TCB,4,2013,NaN,NaN,None,None,0.047,0.004,None,...,0.442,0.586,0.869,0.016,0.493,10.4,0.020,None,0.005,0.029
38,TCB,3,2013,NaN,NaN,None,None,-0.047,-0.004,None,...,0.422,0.597,0.817,0.025,0.509,11.0,0.022,None,0.005,0.141

## 2.7. Stock comparison

### 2.7.1. üè≠ Industry Analysis

In [ ]:
industry_analysis("VNM")

,ticker,marcap,price,numberOfDays,priceToEarning,peg,priceToBook,valueBeforeEbitda,dividend,roe,...,debtOnEquity,debtOnEbitda,income5year,sale5year,income1quarter,sale1quarter,nextIncome,nextSale,rsi,rs
0,VNM,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MSN,108345,76300,3,49.7,-0.6,4.1,20.1,0.009,0.081,...,2.0,7.6,0.028,0.152,-0.519,-0.094,0.285,0.200,54.7,30.0
2,MCH,52129,72849,0,9.2,-8.1,2.2,8.3,0.000,0.277,...,0.3,1.1,0.207,0.153,-0.255,-0.252,0.260,0.300,53.9,25.0
3,QNS,17500,48871,-1,12.2,0.9,2.3,10.4,0.000,0.195,...,0.4,1.5,0.046,0.016,-0.258,0.093,0.173,0.162,73.5,65.0
4,KDC,16437,63800,-7,-220.0,2.0,2.5,36.8,0.086,-0.011,...,0.6,8.1,-0.040,0.123,NaN,-0.302,-0.202,0.283,39.0,34.0
5,IDP,15621,265000,0,19.7,-1.9,7.7,15.4,0.033,0.442,...,0.4,0.7,NaN,NaN,0.316,-0.057,0.074,0.100,86.2,74.0
6,SBT,11626,15800,4,16.9,-1.4,1.2,13.8,0.000,0.076,...,1.3,7.2,0.120,0.220,0.443,-0.181,0.047,0.100,62.6,65.0
7,MML,10468,31973,0,-19.4,0.1,2.0,-273.1,0.000,-0.098,...,1.0,-88.3,NaN,-0.239,NaN,0.031,-0.719,-0.700,39.7,21.0
8,MCM,4214,38396,1,11.7,5.9,1.8,11.3,0.000,0.159,...,0.0,0.1,0.098,0.049,0.397,-0.067,0.040,0.050,55.5,32.0
9,VSF,4200,8180,-1,-394.8,4.1,1.8,26.6,0.000,-0.005,...,1.5,12.3,NaN,-0.053,NaN,-0.310,-0.939,0.030,54.3,51.0
10,PAN,3990,19550,3,12.5,-1.8,0.9,7.0,0.000,0.075,...,0.7,3.4,0.001,0.274,-0.694,-0.352,-0.041,0.050,67.6,64.0
11,VOC,2869,23710,2,2.4,0.0,1.1,-8.8,0.000,0.591,...,0.1,-1.1,NaN,-0.181,NaN,-0.675,0.116,0.150,41.1,45.0
12,OCH,1700,8400,-2,15.2,-0.1,1.3,6.4,0.000,0.086,...,0.1,0.7,NaN,-0.018,NaN,-0.197,6.025,-0.500,56.3,38.0
13,VSN,1696,21000,0,12.5,-1.7,1.3,8.8,0.000,0.107,...,0.0,1.1,0.012,-0.002,-0.131,-0.134,-0.034,0.100,36.3,19.0
14,CLX,1313,15274,3,7.4,1.2,0.8,10.8,0.000,0.118,...,0.0,0.4,0.065,0.088,0.092,-0.123,0.090,0.300,58.9,55.0
15,LSS,965,12850,-2,24.1,2.2,0.6,6.6,0.000,0.025,...,0.4,2.6,-0.100,-0.008,NaN,0.102,-0.155,-0.080,58.6,75.0
16,KTC,401,11000,0,39.1,-0.9,1.0,20.3,0.000,0.025,...,2.3,15.5,-0.157,0.067,36.983,-0.122,0.813,-0.060,76.3,52.0
17,HSL,209,6050,1,14.3,0.8,0.5,12.2,0.000,0.036,...,0.0,0.8,-0.081,0.160,-0.440,-0.142,0.022,0.020,55.9,NaN
18,HKB,46,900,0,-0.8,0.5,0.2,-3.1,0.000,-0.263,...,0.5,-2.0,NaN,-0.474,NaN,0.009,NaN,NaN,84.5,70.0

### 2.7.2. üî¨ Stocks List Analysis

In [ ]:
stock_ls_analysis("TCB, BID, CEO, GMD")

,ticker,marcap,price,numberOfDays,priceToEarning,peg,priceToBook,dividend,roe,roa,debtOnEquity,income5year,sale5year,income1quarter,sale1quarter,nextIncome,nextSale,rsi,rs
0,BID,219540,43950,1,11.1,0.1,2.0,0.0,0.210,0.010,18.2,0.218,0.123,0.306,-0.023,-0.023,0.124,49.4,42.0
1,CEO,6639,26500,3,25.1,0.3,2.1,0.0,0.086,0.040,0.3,0.094,0.068,-0.847,-0.761,-0.012,-0.100,56.9,66.0
2,GMD,15611,51800,0,16.9,0.6,2.2,0.0,0.135,0.076,0.2,0.144,-0.004,0.071,-0.154,0.128,0.070,56.6,45.0
3,TCB,114310,32600,3,6.0,-391.5,1.0,0.0,0.178,0.029,5.1,0.256,0.200,0.269,-0.014,-0.084,0.084,62.6,55.0

### 2.7.3. üè¢ Company Overview

In [ ]:
company_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ng√¢n h√†ng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,-0.009,0.045,0.028,3517.2,3517.2,NH,TCB

### 2.7.4. üíµ Income Statement, Balance Sheet & Cashflow report

#### 2.7.4.1. Report from SSI

Access Denied by SSI

In [ ]:
# financial_report (symbol='SSI', report_type='BalanceSheet', frequency='Quarterly')

#### 2.7.4.2. Report from TCBS

In [ ]:
financial_flow(symbol="TCB", report_type='incomestatement', report_range='quarterly')

,ticker,revenue,yearRevenueGrowth,quarterRevenueGrowth,costOfGoodSold,grossProfit,operationExpense,operationProfit,yearOperationProfitGrowth,quarterOperationProfitGrowth,...,postTaxProfit,shareHolderIncome,yearShareHolderIncomeGrowth,quarterShareHolderIncomeGrowth,investProfit,serviceProfit,otherProfit,provisionExpense,operationIncome,ebitda
index,,,,,,,,,,,,,,,,,,,,,
2023-Q1,TCB,6527,-0.195,-0.043,None,None,-3142,9300,-0.071,-0.014,...,4537,4497,-0.183,0.269,-228,1944,1057,-535,6158,None
2022-Q4,TCB,6819,-0.059,-0.099,None,None,-3990,9427,-0.072,-0.088,...,3572,3544,-0.228,-0.331,-422,2535,495,-691,5437,None
2022-Q3,TCB,7565,0.122,-0.029,None,None,-3014,10338,0.178,-0.062,...,5368,5298,0.221,-0.087,209,2123,441,-609,7324,None
2022-Q2,TCB,7794,0.183,-0.039,None,None,-3286,11024,0.198,0.102,...,5882,5804,0.232,0.054,411,2077,743,-417,7739,None
2022-Q1,TCB,8111,0.325,0.120,None,None,-3003,10006,0.120,-0.015,...,5615,5505,0.252,0.199,-280,1687,488,-218,7004,None
2021-Q4,TCB,7245,0.328,0.074,None,None,-3392,10159,0.309,0.157,...,4684,4592,0.162,0.059,279,2103,532,-627,6767,None
2021-Q3,TCB,6742,0.310,0.023,None,None,-2628,8779,0.171,-0.046,...,4432,4338,0.400,-0.079,384,1497,156,-589,6151,None
2021-Q2,TCB,6588,0.674,0.076,None,None,-2591,9206,0.562,0.031,...,4807,4711,0.672,0.072,717,1457,444,-598,6615,None
2021-Q1,TCB,6124,0.454,0.122,None,None,-2563,8932,0.481,0.151,...,4476,4397,0.790,0.112,812,1325,671,-851,6369,None
2020-Q4,TCB,5456,0.397,0.060,None,None,-2307,7762,0.171,0.035,...,4008,3953,0.305,0.276,546,1069,691,-366,5455,None
2020-Q3,TCB,5148,0.382,0.308,None,None,-2489,7497,0.399,0.272,...,3180,3099,0.213,0.100,378,1145,827,-1034,5008,None
2020-Q2,TCB,3935,0.230,-0.066,None,None,-1839,5895,0.257,-0.022,...,2889,2817,0.169,0.147,298,1254,408,-439,4056,None
2020-Q1,TCB,4212,0.228,0.079,None,None,-2138,6030,0.373,-0.090,...,2506,2456,0.179,-0.189,602,862,354,-772,3893,None
2019-Q4,TCB,3904,0.319,0.048,None,None,-2337,6627,0.311,0.237,...,3119,3029,0.344,0.186,746,1364,613,-312,4290,None
2019-Q3,TCB,3725,0.195,0.165,None,None,-1794,5359,0.156,0.142,...,2583,2554,0.240,0.060,579,635,419,-366,3564,None
2019-Q2,TCB,3199,0.277,-0.068,None,None,-1574,4691,0.173,0.068,...,2433,2409,0.147,0.157,267,756,469,-72,3117,None
2019-Q1,TCB,3430,0.347,0.159,None,None,-1607,4392,-0.058,-0.131,...,2092,2083,0.016,-0.076,158,498,306,-167,2784,None
2018-Q4,TCB,2959,0.198,-0.051,None,None,-2109,5055,-0.132,0.091,...,2265,2254,-0.118,0.094,93,1423,580,-60,2947,None
2018-Q3,TCB,3117,0.516,0.245,None,None,-1315,4635,0.331,0.159,...,2060,2060,0.207,-0.020,126,932,460,-743,3320,None
2018-Q2,TCB,2504,0.127,-0.017,None,None,-1150,3998,0.146,-0.142,...,2101,2101,0.867,0.025,442,688,364,-220,2848,None
2018-Q1,TCB,2547,0.166,0.031,None,None,-1267,4660,0.268,-0.200,...,2049,2049,0.934,-0.198,1392,492,229,-824,3393,None
2017-Q4,TCB,2469,0.290,0.201,None,None,-1553,5823,0.860,0.672,...,2555,2555,1.826,0.498,459,2247,647,-1073,4269,None
2017-Q3,TCB,2055,0.021,-0.075,None,None,-1218,3482,0.238,-0.002,...,1706,1706,0.669,0.517,479,644,303,-157,2263,None
2017-Q2,TCB,2222,0.011,0.017,None,None,-972,3490,0.230,-0.051,...,1125,1125,0.420,0.062,236,500,531,-1109,2518,None
2017-Q1,TCB,2184,0.080,0.141,None,None,-1080,3675,0.162,0.174,...,1059,1059,1.227,0.172,712,546,233,-1270,2595,None
2016-Q4,TCB,1915,-0.071,-0.049,None,None,-1282,3131,0.261,0.113,...,904,904,1.406,-0.116,239,400,578,-716,1849,None
2016-Q3,TCB,2012,0.290,-0.084,None,None,-1094,2813,0.340,-0.008,...,1022,1022,1.530,0.291,218,499,83,-442,1719,None
2016-Q2,TCB,2198,0.275,0.087,None,None,-927,2837,0.322,-0.103,...,792,792,0.614,0.665,173,304,161,-905,1910,None
2016-Q1,TCB,2022,0.086,-0.019,None,None,-982,3163,0.204,0.274,...,476,476,0.517,0.266,217,558,366,-1599,2181,None
2015-Q4,TCB,2062,0.296,0.321,None,None,-1161,2484,0.278,0.183,...,376,376,1.089,-0.070,-177,351,248,-837,1323,None
2015-Q3,TCB,1560,-0.027,-0.095,None,None,-905,2100,0.011,-0.021,...,404,404,1.496,-0.176,-59,337,262,-675,1195,None
2015-Q2,TCB,1724,0.343,-0.074,None,None,-799,2146,0.389,-0.184,...,491,491,1.284,0.565,-14,232,202,-723,1347,None
2015-Q1,TCB,1862,0.439,0.170,None,None,-832,2628,0.704,0.352,...,314,314,-0.403,0.743,220,219,327,-1388,1796,None
2014-Q4,TCB,1591,0.437,-0.008,None,None,-1099,1943,0.430,-0.064,...,180,180,0.869,0.111,-22,232,142,-590,844,None
2014-Q3,TCB,1604,0.575,0.249,None,None,-766,2077,0.619,0.344,...,162,162,2.027,-0.247,140,240,92,-1096,1311,None
2014-Q2,TCB,1284,0.395,-0.008,None,None,-776,1545,0.120,0.002,...,215,215,1.266,-0.591,-7,215,53,-493,769,None
2014-Q1,TCB,1294,0.003,0.169,None,None,-790,1542,-0.052,0.134,...,525,525,0.322,4.457,92,435,-279,-79,752,None
2013-Q4,TCB,1107,0.164,0.087,None,None,-800,1359,0.156,0.059,...,96,96,NaN,0.799,-2,218,36,-431,560,None
2013-Q3,TCB,1018,-0.280,0.106,None,None,-873,1283,-0.065,-0.070,...,53,53,-0.911,-0.436,-8,151,121,-313,410,None
2013-Q2,TCB,921,-0.357,-0.286,None,None,-771,1379,0.024,-0.152,...,95,95,-0.843,-0.761,89,244,125,-353,608,None
2013-Q1,TCB,1290,-0.021,0.356,None,None,-912,1627,-0.121,0.384,...,397,397,-0.613,NaN,82,122,132,-317,714,None
2012-Q4,TCB,951,NaN,-0.327,None,None,-1263,1175,NaN,-0.144,...,-1216,-1216,NaN,NaN,-81,39,266,-1128,-88,None
2012-Q3,TCB,1414,NaN,-0.013,None,None,-615,1373,NaN,0.019,...,603,603,NaN,0.002,-201,151,9,-155,758,None
2012-Q2,TCB,1432,NaN,0.086,None,None,-574,1347,NaN,-0.272,...,602,602,NaN,-0.414,-119,228,-194,-170,773,None
2012-Q1,TCB,1318,NaN,NaN,None,None,-826,1851,NaN,NaN,...,1028,1028,NaN,NaN,120,147,266,3,1025,None
2010-Q2,TCB,814,NaN,NaN,None,None,-446,972,NaN,NaN,...,384,384,NaN,NaN,26,104,28,-142,526,None

In [ ]:
financial_flow(symbol="TCB", report_type='balancesheet', report_range='quarterly')

,ticker,shortAsset,cash,shortInvest,shortReceivable,inventory,longAsset,fixedAsset,asset,debt,...,oweCentralBank,valuablePaper,payableInterest,receivableInterest,deposit,otherDebt,fund,unDistributedIncome,minorShareHolderProfit,payable
index,,,,,,,,,,,,,,,,,,,,,
2023-Q1,TCB,None,2852,None,None,None,None,8275,723518,605552,...,122,46729,8303,8365,387298,46729,11607,68979,1170,605552
2022-Q4,TCB,None,4216,None,None,None,None,8411,699033,585608,...,8,34007,6144,8029,358404,34007,11609,64483,1129,585608
2022-Q3,TCB,None,3026,None,None,None,None,7282,671354,561454,...,6,42858,4750,8681,318919,42858,9151,64059,1032,561454
2022-Q2,TCB,None,3204,None,None,None,None,7220,623739,519263,...,2,37122,3375,8072,321634,37122,9152,58761,963,519263
2022-Q1,TCB,None,3277,None,None,None,None,7265,615270,516684,...,223,32731,3369,7253,328914,32731,9156,52958,884,516684
2021-Q4,TCB,None,3579,None,None,None,None,7224,568811,475756,...,1,33680,3098,5808,314753,33680,9156,47469,845,475756
2021-Q3,TCB,None,3303,None,None,None,None,7106,541635,453251,...,15,34003,3074,6224,316376,34003,6784,45261,753,453251
2021-Q2,TCB,None,3554,None,None,None,None,6739,504304,420403,...,0,27678,2643,5736,289335,27678,6790,40924,659,420403
2021-Q1,TCB,None,4273,None,None,None,None,4726,462823,383730,...,2,26035,2897,5664,287446,26035,6790,36213,563,383730
2020-Q4,TCB,None,3664,None,None,None,None,4613,439603,364988,...,0,27900,3252,5185,277459,27900,6790,31816,484,364988
2020-Q3,TCB,None,4205,None,None,None,None,4273,401462,330853,...,0,22785,3736,5988,252572,22785,5172,29503,457,330853
2020-Q2,TCB,None,4106,None,None,None,None,4126,395861,328432,...,0,23404,3928,5598,249857,23404,5173,26404,376,328432
2020-Q1,TCB,None,4151,None,None,None,None,3493,391808,327217,...,1004,17472,3613,6614,235099,17472,5173,23587,340,327217
2019-Q4,TCB,None,4821,None,None,None,None,3208,383699,321627,...,0,17461,3479,5554,231297,17461,5173,21130,292,321627
2019-Q3,TCB,None,5409,None,None,None,None,3504,367538,308598,...,2000,14489,3542,5112,218655,14489,3858,19439,201,308598
2019-Q2,TCB,None,5034,None,None,None,None,3439,360662,304296,...,3063,12642,3797,4649,220263,12642,3866,16885,173,304296
2019-Q1,TCB,None,4785,None,None,None,None,3104,326112,272237,...,2699,12866,3498,4739,207978,12866,3868,14486,79,272237
2018-Q4,TCB,None,2606,None,None,None,None,1719,321049,269267,...,6025,13178,3425,5738,201471,13178,3868,12403,69,269267
2018-Q3,TCB,None,4042,None,None,None,None,1586,311796,262315,...,2000,17240,3563,6036,193583,17240,2651,11388,0,262315
2018-Q2,TCB,None,3590,None,None,None,None,1489,300405,252975,...,2000,18904,3079,4672,186283,18904,6148,15156,0,252975
2018-Q1,TCB,None,3671,None,None,None,None,1483,273153,235537,...,2000,20074,2861,4400,181391,20074,6148,13055,0,235537
2017-Q4,TCB,None,2344,None,None,None,None,1511,269392,242462,...,1000,17640,2764,3877,170971,17640,6157,10997,0,242462
2017-Q3,TCB,None,3137,None,None,None,None,1461,233502,214069,...,2000,11495,2938,5728,166323,11495,5219,9380,0,214069
2017-Q2,TCB,None,2873,None,None,None,None,1473,232342,210591,...,1000,10320,2888,5231,172103,10320,5219,7673,0,210591
2017-Q1,TCB,None,3179,None,None,None,None,1529,232522,211870,...,432,10397,2426,4440,178623,10397,5219,6548,0,211870
2016-Q4,TCB,None,2957,None,None,None,None,1583,235363,215731,...,1448,10415,2195,3989,173449,10415,5223,5531,0,215731
2016-Q3,TCB,None,2930,None,None,None,None,1513,222770,204027,...,0,9842,2353,4758,163515,9842,4745,5125,0,204027
2016-Q2,TCB,None,2840,None,None,None,None,1562,212676,194941,...,0,8048,2488,4365,150033,8048,4745,4102,0,194941
2016-Q1,TCB,None,2750,None,None,None,None,880,199003,182047,...,0,8103,2283,3362,148817,8103,4745,3310,0,182047
2015-Q4,TCB,None,2754,None,None,None,None,882,192009,175481,...,0,8134,2087,3047,142240,8134,4753,2897,0,175481
2015-Q3,TCB,None,2758,None,None,None,None,931,175217,159056,...,0,6395,1982,3874,136631,6395,4549,2740,0,159056
2015-Q2,TCB,None,2559,None,None,None,None,975,172744,156989,...,0,6477,1901,3590,129016,6477,4550,2337,0,156989
2015-Q1,TCB,None,2495,None,None,None,None,1011,179100,163806,...,203,6442,1829,3278,126886,6442,4550,1858,0,163806
2014-Q4,TCB,None,2724,None,None,None,None,1037,175915,160916,...,0,6254,1908,3341,131438,6254,4552,1570,0,160916
2014-Q3,TCB,None,2277,None,None,None,None,996,170768,155946,...,0,5571,1665,4692,121733,5571,4371,1572,0,155946
2014-Q2,TCB,None,2469,None,None,None,None,1022,171081,156420,...,0,4619,2265,5430,124743,4619,0,1410,0,156420
2014-Q1,TCB,None,2123,None,None,None,None,981,164135,149686,...,0,4659,2309,5508,124014,4659,4372,1194,0,149686
2013-Q4,TCB,None,2291,None,None,None,None,1033,158897,144977,...,0,5643,1861,5257,119978,5643,4370,672,0,144977
2013-Q3,TCB,None,2421,None,None,None,None,1069,165879,152031,...,0,4536,1734,5637,117236,4536,4279,718,0,152031
2013-Q2,TCB,None,2999,None,None,None,None,1033,171394,157611,...,0,6670,2151,6986,111591,6670,4279,627,0,157611
2013-Q1,TCB,None,3669,None,None,None,None,1125,175863,162188,...,0,7646,1901,5874,114096,7646,3476,1355,0,162188
2012-Q4,TCB,None,4529,None,None,None,None,1146,179733,166443,...,0,10451,1783,5074,111462,10451,3475,966,0,166443
2012-Q3,TCB,None,6523,None,None,None,None,1257,178267,163863,...,0,18987,2278,5643,99560,18987,3332,2291,0,163863
2012-Q2,TCB,None,5853,None,None,None,None,1240,179792,165883,...,2900,20819,2426,5198,96739,20819,3339,1892,0,165883

In [ ]:
financial_flow(symbol="TCB", report_type='cashflow', report_range='quarterly')

        ticker  investCost  fromInvest  fromFinancial  fromSale  freeCashFlow
index
2023-Q1    TCB         -73         260              1    -21875             0
2022-Q4    TCB        -720        -679           -700     19130             0
2022-Q3    TCB        -212        -205             63     15950             0
2022-Q2    TCB         -65         -62              0     -4020             0
2022-Q1    TCB        -113        -111            -73     24408             0
2021-Q4    TCB        -280        -276              0     -9328             0
2021-Q3    TCB        -180        -179             60     17974             0
2021-Q2    TCB        -337        -282              0     11205             0
2021-Q1    TCB        -143        -143              0     -6954             0
2020-Q4    TCB        -268        -263           -137      -479             0
2020-Q3    TCB        -157        -157              0    -12204             0
2020-Q2    TCB         -61         -56            -37     -1274             0
2020-Q1    TCB        -195        -194              0      3884             0
2019-Q4    TCB         -84         -79          -2165      1959             0
2019-Q3    TCB         -54         -45          -1000       797             0
2019-Q2    TCB        -110        -109             12      3717             0
2019-Q1    TCB         -10          11             58      6253             0
2018-Q4    TCB        -215        -215             58     -5302             0
2018-Q3    TCB        -128        -128          -1508     -5810             0
2018-Q2    TCB         -28         -34           6518     19534             0
2018-Q1    TCB         -15         884           8632     -8163             0
2017-Q4    TCB        -110        -105           4800      1506             0
2017-Q3    TCB         -51         -51          -4043      2862             0
2017-Q2    TCB          -6          -5             16     -1675             0
2017-Q1    TCB          -9         917             -8      4385             0
2016-Q4    TCB        -136        -134              0      1381             0
2016-Q3    TCB         -14         -14              0      -977             0
2016-Q1    TCB         -56         -57              0     -6851             0
2015-Q4    TCB         -46          23              0     -5688             0
2015-Q3    TCB         -20          37              0       455             0
2015-Q2    TCB         -25         -18              0      6506             0
2015-Q1    TCB         -33         -33              0     -8160             0
2014-Q4    TCB        -122        -631              0     -5217             0
2014-Q3    TCB         -33         -29              0      5048             0
2014-Q2    TCB         -28         -19              0      2291             0
2014-Q1    TCB          -5         -11              0      -350             0
2013-Q4    TCB        -198        -201              0     -8213             0
2013-Q3    TCB         -66         -93              0      2271             0
2013-Q2    TCB         -25         -16              0      2008             0
2013-Q1    TCB         -35         -29              0     -1153             0
2012-Q3    TCB         -66       -1391              0     -2139             0

## 2.8. üßß Dividend Historical Data

In [ ]:
dividend_history("VNM")

   exerciseDate  cashYear  cashDividendPercentage issueMethod
0      22/12/22      2022                   0.140        cash
1      06/07/22      2021                   0.095        cash
2      06/07/22      2022                   0.150        cash
3      10/01/22      2021                   0.140        cash
4      07/09/21      2021                   0.150        cash
5      07/06/21      2020                   0.110        cash
6      05/01/21      2020                   0.100        cash
7      29/09/20      2020                   0.200        cash
8      29/06/20      2019                   0.150        cash
9      26/12/19      2019                   0.100        cash
10     16/09/19      2019                   0.200        cash
11     05/06/19      2018                   0.150        cash
12     27/12/18      2018                   0.100        cash
13     05/09/18      2018                   0.200        cash
14     05/06/18      2017                   0.150        cash
15     28/12/17      2017                   0.150        cash
16     14/08/17      2017                   0.200        cash
17     04/05/17      2016                   0.200        cash
18     19/08/16      2016                   0.400        cash
19     03/06/16      2015                   0.200        cash

## 2.9. ‚≠êGeneral Rating

In [ ]:
general_rating("VNM")

,stockRating,valuation,financialHealth,businessModel,businessOperation,rsRating,taScore,ticker,highestPrice,lowestPrice,priceChange3m,priceChange1y,beta,alpha
0,3.7,1.6,4.8,3.9,2.8,2.2,1.0,VNM,83504.0,65500.0,-0.112,-0.044,0.42,0.0017

## 2.10. üå± Business Model Rating

In [ ]:
biz_model_rating("VNM")

,ticker,businessModel,businessEfficiency,assetQuality,cashFlowQuality,bom,businessAdministration,productService,businessAdvantage,companyPosition,industry,operationRisk
0,VNM,3.9,3,4,4,4,4,4,4,4,4,4

## 2.11. üéÆ Business Operation Rating

In [ ]:
biz_operation_rating("VNM")

,industryEn,loanGrowth,depositGrowth,netInterestIncomeGrowth,netInterestMargin,costToIncome,netIncomeTOI,ticker,businessOperation,avgROE,avgROA,last5yearsNetProfitGrowth,last5yearsRevenueGrowth,last5yearsOperatingProfitGrowth,last5yearsEBITDAGrowth,last5yearsFCFFGrowth,lastYearGrossProfitMargin,lastYearOperatingProfitMargin,lastYearNetProfitMargin,TOIGrowth
0,Food Products,None,None,None,None,None,None,VNM,2.8,5,5,1,2,1,1,2,4,3,3,None

## 2.12. üìë Financial Health Rating

In [ ]:
financial_health_rating("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,Food Products,None,None,None,None,VNM,4.8,4,5,5,5,5

## 2.13. üí≤ Valuation Rating

In [ ]:
valuation_rating("VNM")

      industryEn ticker  valuation  pe  pb  ps  evebitda  dividendRate
0  Food Products    VNM        1.6   2   1   1         1             4

## 2.14. üí≥ Industry Financial Health

In [ ]:
industry_financial_health("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,None,None,None,None,None,VNM,3.4,4,3,3,3,3

## 2.15. üåè Market Watch (Unavailable Now)

Access Denied by SSI

In [ ]:
# market_top_mover('ForeignTrading')

### 2.15.1. Top stocks

In [ ]:
# market_top_mover('ForeignTrading')

### 2.15.2. Foreign Trade Insights

In [ ]:
# fr_trade_heatmap ('All', 'FrBuyVol')

### 2.15.3. Market latest indices & values

Access Denied

In [ ]:
# get_latest_indices()

### 2.15.4. Market latest indices in depth data

Access Denied

In [ ]:
# get_index_series(index_code='VNINDEX', time_range='OneYear')